* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 11.5vh;
    background-color: #91d3d9;
}

.arriba {
    width: 100%;
    height: 25vh;
    background-color: #ffd680;
}

.pantalla {
    width: 100%;
    height: 50vh;
    background-color: white;


.imagenes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 5vh;
        margin-top: 7.5vh;
    }

    .cajaazul {
        background-color: #c4edf1;
        height: 17.5vh;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .headerazul {
            height: 2.5vh;
            width: 100%;
            background-color: #abe0e5;
        }

        .cajitaazul {
            height: 50%;
            aspect-ratio: 1/1;
            background-color: #abe0e5;
        }
    }

    .cajaroja {
        background-color: #ff9978;
        height: 17.5vh;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .headerrojo {
            height: 2.5vh;
            width: 100%;
            background-color: #f68360;
        }

        .cajitaroja {
            height: 50%;
            aspect-ratio: 1/1;
            background-color: #f68360;
        }
    }

    .cajachlo {
        background-color: #ffd680;
        height: 17.5vh;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .headerchlo {
            height: 2.5vh;
            width: 100%;
            background-color: #ffc86d;
        }

        .cajitachlo {
            height: 50%;
            aspect-ratio: 1/1;
            background-color: #ffc86d;
        }
    }

}

.final {
    width: 100%;
    height: 13.5vh;
    background-color: #e6e5e5;
    display: flex;
    justify-content: space-around;

    .textos {
        display: flex;
        justify-content: space-around;

        .titulo{
            background-color: #cccbca;
            margin-bottom: 1vh;
        }

        .renglon {
            background-color: white;
            margin-bottom: 1vh;
        }
    }

}

